venv
conda_fyp_venv
venv-py3.9
schedule.gif
(DEBUG)
**/(TESTING) automated_testing/(GIF) scheduling/

#this is for to test the files
testing_func_before_apply
#this is to ignore the makespan graph plotting
(TESTING) automated_testing/(PLOT) makespan